/*.contenedor-formulario {
    width: 100%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total 
}
*/

form {
    background-color: gray;
    border: solid black 3px;
    height: auto; /* Cambia a 'auto' para que se ajuste al contenido */
    padding-bottom: 5%; /* Añade espacio en la parte inferior para asegurar que el botón no se tape */
    box-sizing: border-box;
    width: 50%;
}
.Header{
 background-color: purple;
 text-align: center;
}
.Boton{
    width: 30%;
    height: auto;
    margin-top: 10px; /* Añade margen superior para separar del contenido anterior */
}
.Nombre_Usuario{
    padding-left: 5%;
    width: 100%;
}
