
body{
    font-family: Arial, sans-serif;
    background-color: #f5d565;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Formulario {
    display: flex;
    flex-direction: column;
}

.Formulario h1 {
    background-color: #006400;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.Formulario label {
    margin-top: 10px;
}

.Formulario input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.Formulario select{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.Formulario button {
    margin-top: 5%;
    padding: 3%;
    background-color: #ffd700;
    border: none;
    border-radius: 6%;
    cursor: pointer;
}

.Formulario button:hover {
    background-color: #ffcc00;
}
@media (376px<=width<=430px){/*IphoneXR*/
    body{
        padding-top: 20%;
    }
    }

@media (768px<=width<=1024px){ /*Tabletas*/
    body{
        padding-top: 20%;
    }
}

